{% extends 'portfoliodatabase/base.html' %}

{% block body %}
    <div class="container justify-content-center offset-md-3">
        <h3> Please contact me with any questions that you may have.</h3>
    </div>
    <form class="container justify-content-center mt-3">
        <div class="container justify-content-center mt-3">
            <form method="POST mt-3">
                {% csrf_token %}
                    <div class="container justify-content-center mt-5">
                            <h2>{{ form }}</h2>
                    </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-secondary mt-2"><h3>Submit</h3></button>
                </div>
            </form>
        </div>
    </form>
{% endblock %}
